@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: #f0f0f0;
}

/* Header Styles */
header {
    background-color: #1454cb;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.logo h1 {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    font-size: 18px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ccc;
}

main {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1454cb;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    z-index: 1; /* Ensure the footer is above other content */
}



